.library_mapping.xml
.project
.settings/
__pycache__/
a.out
obj_dir/
test_class.sv
test_vif.sv
testbench.sv
uvm/uvm-src/

sim.out
sim_*.out
wave.vcd
waves_*.vcd
waves_*.fst
*.vcd
results.xml
sim_build/
sim_test
tests/logs/
